.svg1{
    background: #ffe6e6;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg2 {
	background: #ffe6e6;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg3 {
	background: #ffe6e6;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg4 {
	background: #ffe6e6;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg5 {
	    background:#ffe6e6;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg6 {
	    background:#ffe6e6;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
.svg7 {
	    background:#ffe6e6;
    width: 200px;
    height: 300px;
    display:inline-block;
    position: relative;
}
